<!-- only the contents of book containers -->

<img src="<%= book.image_url %>" alt="Image for <%= book.title %>">
<h3 class="bookTitle"><%= book.title %></h3>
<h5 class="bookAuthor"><%= book.author %></h5>

<% if (show.includes('details')) { %>
  <div class="bookDetails">
    <p class="bookDescription"><%= book.description %></p>

    <% if (show === 'deep details') { %>
      <h5 class="bookISBN"> <%= book.isbn %></h5>
      <h5 class="bookshelf">Bookshelf: <%= book.bookshelf %></h5>
    <% } %>
    
  </div>
<% } %>