<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>
    
    <main class="content">
      <form class="search-form" action="" method="post">
        <input class="input-user-enters-text" type="text" name="edit" value="<%= book.title %>" placeholder="Title" required>

        <input class="input-user-enters-text" type="text" name="edit" value="<%= book.author %>" placeholder="Author" required>

        <input class="input-user-enters-text" type="text" name="edit" value="<%= book.isbn %>" placeholder="ISBN">

        <input class="input-user-enters-text" type="text" name="edit" value="<%= book.image_url %>" placeholder="Image URL">

        <textarea class="input-user-enters-text" name="edit" placeholder="Book Description">
          <%= book.description %>
        </textarea>

        <button class="big-btn" type="submit">Update Book</button>
      </form>
    </main>
    <footer>
      <%- include('../../layout/footer') %>
    </footer>

    <%- include('../../layout/js-links') %>
  </body>
</html>

<!-- title, author, isbn, image url, description, bookshelf dropdown -->