
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/0-reset.css">
    <link rel="stylesheet" href="styles/1-base.css">
    <link rel="stylesheet" href="styles/2-layout.css">
    <link rel="stylesheet" href="styles/3-modules.css">
    <link rel="stylesheet" href="styles/4-icons.css">
  </head>
  <body>
    <header>Best Books!</header>
    <main>
      <h3>Search Results</h3>
      <ul>
        <% searchResults.forEach(book => { %>
          <li class="book">
            <img src="<%= book.image %>" alt="Image for <%= book.title %>">
            <h2 class="bookTitle"><%= book.title %></h2>
            <h5 class="bookAuthors"><%= book.authors %></h5>
            <p class="bookDescription"><%= book.description %></p>
          </li>
        <% }); %>
      </ul>
    </main>
  </body>
</html>
