
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <main class="content">
      <section class="errorMessage">
        <h3>Error: <%= status %></h3>
        <p><%= message %></p>
      </section>
    </main>
    <footer>
      <%- include('../layout/footer')%>
    </footer>
  </body>
</html>
