
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <div class="page-subtitle">
      <div id="results-num"><%= sqlResults.rowCount %></div>
      <h4>Saved Books</h4>
    </div>
    <main class="content">
      <!-- All books from database -->
      <ul>
        <% sqlResults.rows.forEach(book => { %>
          <li class="book" data-id="<%= book.id %>">
            <img src="<%= book.image_url %>" alt="Image for <%= book.title %>">
            <h3 class="bookTitle"><%= book.title %></h3>
            <h5 class="bookAuthor"><%= book.author %></h5>
            <p class="bookDescription hidden"><%= book.description %></p>
            <button class="big-btn detials-btn">View Details</button>
          </li>
        <% }); %>
        </ul>
    </main>
    <footer>
      <%- include('../layout/footer') %>
    </footer>
  </body>
</html>
