
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
    <main class="content">
      <!-- All books from database -->
      <ul>
        <% sqlResults.rows.forEach(book => { %>
          <li class="book">
            <img src="<%= book.image_url %>" alt="Image for <%= book.title %>">
            <h3 class="bookTitle"><%= book.title %></h3>
            <h5 class="bookAuthors"><%= book.authors %></h5>
            <p class="bookDescription"><%= book.description %></p>
          </li>
        <% }); %>
        </ul>
    </main>
    <footer>
      <%- include('../layout/footer') %>
    </footer>
  </body>
</html>
